@inherits SessionDetailsGeneralInformationBase

<div class="card-header">
    <b>General Information</b>
</div>
<div class="card-body">
    <div class="row row-cols-1 row-cols-md-3">

        <div class="col-auto">
            <div class="container">
                <b>Trainer</b>
                <p>@Session.AssignedTrainer.User.Firstname @Session.AssignedTrainer.User.Lastname</p>
            </div>
        </div>
        <div class="col-auto">
            <div class="container">
                <b>Start Time</b>
                <p>@Session.StartTime.ToString("f")</p>
            </div>
        </div>
        <div class="col-auto">
            <div class="container">
                <b>Duration</b>
                <p>@Session.Duration.ToString()</p>
            </div>
        </div>

    </div>
</div>
