@inherits SessionDetailsBookingInformationBase

<div class="card-header">
    <b>Booking Information</b>
</div>
<div class="card-body">
    <div class="row row-cols-1 row-cols-md-3">

        <div class="col-auto">
            <div class="container">
                <b>Max Participants</b>
                <p>@Session.MaxNumberOfParticipants</p>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-success">
                Book Slot
            </button>
        </div>
        <div class="col-auto">
            <div class="container">
                <b>Slots Left</b>
                <p>@SlotsLeft() left</p>
            </div>
        </div>
    </div>
</div>