div.card:hover
{
    background-color: azure;
    transform: scale(1.05);
}

a.btn:hover {
    transform: scale(1.05);
}

div.card {
    transition: transform 0.3s ease;
}

a.btn {
    transition: transform 0.3s ease;
}
