@page "/BrowseAllUsers"
@using SportsRidingClubSkovly.Web.Components.Tables
@rendermode InteractiveServer

<h3>Browse All Users</h3>

<ListTable Data="@Users" />

@* <GenericTable Data="@Users" /> *@
