@page "/inputTest"
@rendermode InteractiveServer

<PageTitle>Create Session</PageTitle>
<h3>Trainer Can Create A Session</h3>
<h3>Admin Can Create A Session</h3>

<p>Input Session Description Here</p>
<input @onchange="InputChanged" />
<p> Hello!
    @message</p>

@code {
    string message = "Yes";

    void InputChanged(ChangeEventArgs e)
    {
        message = (string)e.Value;
    }
}
