<div class="card text-center" @onclick="NavigateToSession">
    <div class="card-header">
        <h5>Dressage</h5>
    </div>
    <div class="card-body">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="display: flex; margin-top: 5px; margin-bottom: 10px; width: 75%" class="border">
                <div style="width: 80%; text-align: center;">
                    23/07/2024 18:00
                </div>
                <div style="width: 20%; display: flex; justify-content: center; align-items: center;">
                    <i class="calendar-icon"></i>
                </div>
            </div>
        </div>
        
        <p style="display: inline-block; padding: 0 20px;" class="bg-primary rounded text-white">1 time 30 min</p>
    </div>
    <div class="card-footer">
        Andreas ØK
    </div>
</div>

@* <div class="card card-border"> *@
@*     <h5>Dressage</h5> *@
@*     <hr style="margin-top: 5px; margin-bottom: 5px" /> *@
@*     <div style="display: flex; margin-top: 5px; margin-bottom: 5px;" class="border"> *@
@*         <div style="width: 80%; text-align: center;"> *@
@*             23/07/2024 *@
@*         </div> *@
@*         <div style="width: 20%; display: flex; justify-content: center; align-items: center;"> *@
@*             <i class="calendar-icon"></i> *@
@*         </div> *@
@*     </div> *@
@*      *@
@*     <p class="background-primary center bottom-center">1 time 30 min</p> *@
@* </div> *@